body {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

button, input[type=submit], #btn--update--file {
    padding: 8px 24px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 20px;
}